<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewClientServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.newitem.NewClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitCervicalSpineServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.forms.VisitCervicalSpineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitLowerExtremitiesServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.forms.VisitLowerExtremitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitLumbarSpineServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.forms.VisitLumbarSpineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitUpperExtremitiesServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.forms.VisitUpperExtremitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitLogServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.manage.ManageVisitsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageClientsServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.manage.ManageClientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.manage.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewVisitServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.newitem.NewVisitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.newitem.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadsServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.manage.ManageUploadsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeMyPsswServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.ChangeMyPsswServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteVisitServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.deleteVisitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteClientServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.deleteClientServlet</servlet-class>
    </servlet>
    <!--<servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping> -->
    <servlet>
        <servlet-name>VisitCustomServlet</servlet-name>
        <servlet-class>com.ceiroa.ihealthmaven.controller.forms.VisitCustomHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewClientServlet</servlet-name>
        <url-pattern>/newClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitCervicalSpineServlet</servlet-name>
        <url-pattern>/cervicalSpine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitLowerExtremitiesServlet</servlet-name>
        <url-pattern>/lowerExtremities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitLumbarSpineServlet</servlet-name>
        <url-pattern>/lumbarSpine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitUpperExtremitiesServlet</servlet-name>
        <url-pattern>/upperExtremities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitLogServlet</servlet-name>
        <url-pattern>/visits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageClientsServlet</servlet-name>
        <url-pattern>/manageClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/manageUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewVisitServlet</servlet-name>
        <url-pattern>/newVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/newUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadsServlet</servlet-name>
        <url-pattern>/manageUploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeMyPsswServlet</servlet-name>
        <url-pattern>/changeMyPssw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteVisitServlet</servlet-name>
        <url-pattern>/deleteVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteClientServlet</servlet-name>
        <url-pattern>/deleteClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitCustomServlet</servlet-name>
        <url-pattern>/VisitCustomServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <resource-ref>
        <description>Database for iHealth application</description>
        <res-ref-name>jdbc/ihealth</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
